.about-page {
    *:not(svg) {
        color: black;
    }

    .mission {
        list-style-type: disclosure-closed !important;

        li {
            margin: 8px 0;
            display: list-item !important;
        }
    }

    .slogan {
        p {
            margin-bottom: 0;
        }
    }
}
