.control-group:has(input:focus-within) label {
  color: #ce2027 !important;
  font-weight: bolder;
}

input:is(:-webkit-autofill, :autofill) {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #000;
  box-shadow: inset 0 0 20px 20px transparent;
}

@keyframes Auth {
  from {
    transform: translateX(90%);
  }
  to {
    transform: translateX(0);
  }
}
