@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: 210 20% 98%;
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --radius: 0.625rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --sidebar: oklch(0.985 0 0);
  }

  .theme {
    --font-heading: var(--font-sans);
    --font-sans: var(--font-sans);
  }
  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }
  html {
    @apply font-sans;
  }
}

@layer utilities {
  .collapse {
    visibility: unset;
  }
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

@keyframes fadeToTransparent {
  from {
    background-color: rgba(0, 0, 0, 0.65);
  }
  to {
    background-color: transparent;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  scrollbar-gutter: stable;
}

#mouse-scroll {
  display: block;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 6s;
}
#mouse-scroll {
  position: absolute;
  margin: auto;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
}
#mouse-scroll span {
  display: block;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid whitesmoke;
  border-bottom: 2px solid whitesmoke;
  margin: 0 0 3px 5px;
}
#mouse-scroll .mouse {
  height: 25px;
  width: 15px;
  border-radius: 10px;
  transform: none;
  transform: none;
  border: 2px solid whitesmoke;
  background: rgba(0, 0, 0, 0.65);
  top: 170px;
  box-shadow: 0 0 5px black;
}
#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}
#mouse-scroll .down-arrow-1,
#mouse-scroll .down-arrow-2,
#mouse-scroll .down-arrow-3 {
  animation: mouse-scroll 1s infinite;
}
#mouse-croll .down-arrow-1 {
  animation-delay: 0.1s;
  animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
  animation-delay: 0.2s;
  animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
  animation-delay: 0.3s;
  animation-direction: alternate;
}
#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: whitesmoke;
  position: relative;
  box-shadow: 0 0 5px black;
}
#mouse-scroll .mouse-in {
  animation: animated-mouse 1.2s ease infinite;
}

@keyframes animated-mouse {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

header *::-webkit-scrollbar {
  display: none;
}

.list-item {
  font-weight: 400;
}

.shadow-drop-center {
  animation: shadow-drop-center 2s linear 1s infinite alternate;
}
@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.55);
  }
}
